<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.android.cotuca.toptask"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:logo="@drawable/b_icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="br.com.android.cotuca.toptask.Activitys.MSimplesActivity"
            android:label="@string/app_name"
            tools:ignore="InnerclassSeparator" >
        </activity>
        <activity
            android:name="br.com.android.cotuca.toptask.Activitys.EntradaActivity"
            android:label="@string/app_name"
            tools:ignore="InnerclassSeparator" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.android.cotuca.toptask.Fragments.FragmentTarefas"
            android:label="@string/title_activity_fragment_tarefas"
            tools:ignore="InnerclassSeparator" >
        </activity>
        <activity
            android:name="br.com.android.cotuca.toptask.Activitys.ProjetosActivity"
            android:label="@string/title_activity_projetos"
            tools:ignore="InnerclassSeparator" >
        </activity>
        <activity
            android:name="br.com.android.cotuca.toptask.Activitys.CadastroProjetoActivity"
            android:label="@string/title_activity_cadastro_projeto"
            tools:ignore="InnerclassSeparator" >
        </activity>
        <activity
            android:name="br.com.android.cotuca.toptask.Activitys.CadastroUsuarioActivity"
            android:label="@string/title_activity_cadastro_usuario"
            tools:ignore="InnerclassSeparator" >
        </activity>
        <activity
            android:name="br.com.android.cotuca.toptask.Activitys.CadastroTarefa"
            android:label="@string/title_activity_cadastro_tarefa"
            android:parentActivityName=".MSimplesActivity"
            tools:ignore="InnerclassSeparator" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MSimplesActivity" />
        </activity>
        <activity
            android:name="br.com.android.cotuca.toptask.Activitys.LoginUsuarioActivity"
            android:label="@string/title_activity_login_usuario"
            tools:ignore="InnerclassSeparator" >
        </activity>

        <activity
            android:name="br.com.android.cotuca.toptask.Activitys.GraficosActivity"
            android:label="@string/title_activity_graficos"
            tools:ignore="InnerclassSeparator" >
        </activity>
        <activity
            android:name="br.com.android.cotuca.toptask.Fragments.FragmentTabGraficoTarefa"
            android:label="@string/title_activity_graficos">
        </activity>

        <activity
            android:name="br.com.android.cotuca.toptask.Activitys.QuadroTarefaActivity"
            android:label="@string/title_activity_login_usuario"
            tools:ignore="InnerclassSeparator" >
        </activity>
        <receiver android:name=".Receivers.NotificacaoSimplesReceiver"></receiver>
    </application>

</manifest>